.rettangolo_orizz {
	-fx-fill: #e3c090; /* colore di riempimento */
	-fx-stroke : #000000; /* bordo */
	
	/* per fare i bordi arrotondati */
	-fx-arc-width: 10;
	-fx-arc-height: 10;
}

.rettangolo_vert {
	-fx-fill: #e3c090;
	-fx-stroke : #000000;
	
	-fx-arc-width: 10;
	-fx-arc-height: 10;
}

.quadratone {
	-fx-fill: #a72f30;
	-fx-stroke : #000000;
	
	-fx-arc-width: 10;
	-fx-arc-height: 10;
}

.quadratino {
	-fx-fill: #e3c090;
	-fx-stroke : #000000;
	
	-fx-arc-width: 10;
	-fx-arc-height: 10;
}

.pezzoSelezionato {
	-fx-stroke: green;
	-fx-stroke-width: 5;
	-fx-stroke-line-join: round;
}